
.company_profile_form .company_profile_wrapper{
	width:800px;
	border-radius: 10px;
	margin:40px auto;
}
/*
.instance_label{
    padding:20px;
    font-size:15px;
    text-decoration:underline;

}*/

